﻿@model SimpleCRUD.Models.InventoryItem
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Inventory</h2>

        <form action="CommitInventory" method="post">
            <div class="form-row">
                
            </div>
            <div class="form-group">
                <label for="inputEmail4">ID:</label>
                @*@Html.TextBoxFor(m => m.Desc, new { @placeholder = "Description", @class = "form-control", @type = "text", @required = "true" })*@
            </div>
            <div class="form-group">
                <label for="inputPassword4">Description</label>
                @Html.TextBoxFor(m => m.Desc, new {@id = "Desc", @placeholder = "Description", @class = "form-control", @type = "text", @required = "true"})
            </div>
            <div class="form-group">
                <label for="inputAddress">Quantity:</label>
                @Html.TextBoxFor(m => m.Quantity, new {@id = "Quantity", @placeholder = "Quantity", @class = "form-control", @type = "number", @required = "true" })
            </div>

            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
        </form>


    
